---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}" target="_blank" rel="noopener noreferrer">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign categories = site.publications | map: "category" | uniq | sort %}

{% for category in categories %}
  <h2>{{ category | capitalize }}</h2>
  <ol>
    {% assign category_publications = site.publications | where: "category", category | sort: "date" | reverse %}
    {% for post in category_publications %}
      <li>
        {{ post.citation }}
        {% if post.url %}
          <a href="{{ post.url }}" target="_blank" rel="noopener noreferrer">[PDF]</a>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
{% endfor %}
